doctype html
html
    head
        meta(charset="utf-8")
        title Hello box-layout
        link(rel="stylesheet" href="index.css")
        link(rel="stylesheet" href="../../bower_components/jquery-ui/themes/sunny/jquery-ui.min.css")
    body
        //- 使用JS API的方式构建一个视图系统
        div.everything
            div.button-list
                button.remove 单击移除第2个视图
                fieldset
                    legend split
                    button.splitRootAtTop split root at top
                    button.splitRootAtBottom split root at bottom
                    button.splitRootAtLeft split root at left
                    button.splitRootAtRight split root at right
                fieldset
                    legend addViewAtEdge
                    button.addViewAtTop add view at top
                    button.addViewAtRight add view at right
                    button.addViewAtBottom add view at bottom
                    button.addViewAtLeft add view at left
                fieldset
                    legend replaceWith
                    button.replaceWithRoot replace with root
                    button.replaceWithFirst replace with first
                fieldset
                    legent else
                    button(onclick="wrapCurrentSimple()") wrap current simple
                fieldset.info
                    div.current
                        label 当前simple view:
                        span
            div.main

        // startup
        script(src="../../bower_components/requirejs/require.js")
        script(src="../../demo/base/config.js")
        script.
            require(['demo/layout-operation/index'], function (index) {
                index.init()
            })
