@charset "utf-8";
@import "../../src/style/style";

$COLOR: #aaa;

.linear[data-orient=hor] {
	> .box, > .linear {
		border-right: 1px solid $COLOR;
	}
	.box:last-child, .linear:last-child {
		border-right: none;
	}
}

.linear[data-orient=ver] {
	> .box, .linear {
		border-bottom: 1px solid $COLOR;
	}
	.box:last-child, .linear:last-child {
		border-bottom: none;
	}
}

.linear {
	position: absolute !important;
}

.box {
	position: absolute !important;
	h1 {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		height: 30px;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 30px;
	}

}

body {
	font-size: 30px;
}

.everything > div {
	border: 1px solid $COLOR;
	margin: 10px;
}