doctype html
html
    head
        meta(charset="utf-8")
        title hello world
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            div.box0
                h1 A
            div.box1
                h1 B
            div.box2
                h1 C
            div.box3
                h1 D

        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://rawgit.com/seajs/seajs/master/dist/sea.js")
        script.
            seajs.use(['./index'], function (index){
                index.init();
            });
