doctype html
html
    head
        meta(charset="utf-8")
        title Hello box-layout
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            div.box0
                h1 A
            div.box1
                h1 B
            div.box2
                h1 C
            div.box3
                h1 D

        script(src="../../bower_components/jquery/dist/jquery.min.js")
        script(src="../../bower_components/seajs/dist/sea.js")
        script.
            seajs.use(['./index'], function (index) {
                index.init();
            })
