@charset "utf-8";

div {
	//border: 1px solid #000;
}

body {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

h1 {
	border: 1px solid red;
	width: 50%;
}

.everything {
	display: flex;
	height: 100%;

	.d1 {
		border-right: 1px solid #000;
		flex: 1;
	}

	.d2 {
		flex: 2;
	}

	.d3 {
		display: flex;
		flex: 3;
		flex-direction: column;

		.d4 {
			flex-basis: 30px;
			border-bottom: 1px solid #000;
		}

		.d5 {
			flex-grow: 1;
			border-bottom: 1px solid #000;
		}
	}

}