doctype html
html
    head
        meta(charset="utf-8")
        title -web-box test
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            div.d1
                h1 1
            div.d2 2
            div.d3
                div.d4 4
                div.d5 5
