doctype html
html
    head
        meta(charset="utf-8")
        block title
            title Demo about linear-layout
        link(rel="stylesheet" href="../../bower_components/jquery-ui/themes/sunny/jquery-ui.min.css")
        block style
    body
        block body

        // startup
        script(src="../../bower_components/requirejs/require.js")
        script(src="../../demo/base/config.js")

        block script
