@charset "UTF-8";
.view {
  display: flex; }

* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

body {
  font-size: 11px;
  font-family: "微软雅黑"; }

.everything {
  width: 100%;
  height: 100%; }

.linear[data-direction=row] > .view {
  border-right: 1px solid #aaaaaa; }
.linear[data-direction=row] .view:last-child {
  border-right: none; }

.linear[data-direction=column] > .view {
  border-bottom: 1px solid #aaaaaa; }
.linear[data-direction=column] .view:last-child {
  border-bottom: none; }

.view {
  position: relative; }
  .view p {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px; }
