doctype html
html
    head
        meta(charset="utf-8")
        title Hello box-layout
        link(rel="stylesheet" href="index.css")
        link(rel="stylesheet" href="../../node_modules/jquery-ui/themes/base/resizable.css")
    body
        simple.box0
            p 0: 20% of height
        simple.box1
            p 1: 50% height
        simple.box2
            p 2: 50% height
        simple.box3
            p 3: 50% of rest width
        simple.box4
            p 4:
        simple.box5
            p 5: 100px width
        simple.box8
            p 8: 150px width
        simple.box6
            p 6:
        simple.box7
            p 7:

        // startup
        script(src="../../node_modules/requirejs/require.js")
        script(src="../base/config.js")
        script.
            require(['demo/tree-layout/index'], function (index) {
                index.init()
            })
