body {
  display: -webkit-box; }

.linear, .view {
  display: -webkit-box;
  -webkit-box-flex: 1; }

.linear[data-orient=hor] > .box, [data-orient=hor].view > .box, .linear[data-orient=hor] > .linear, [data-orient=hor].view > .linear, .linear[data-orient=hor] > .view, [data-orient=hor].view > .view {
  border-right: 1px solid #aaaaaa; }
.linear[data-orient=hor] .box:last-child, [data-orient=hor].view .box:last-child, .linear[data-orient=hor] .linear:last-child, [data-orient=hor].view .linear:last-child, .linear[data-orient=hor] .view:last-child, [data-orient=hor].view .view:last-child {
  border-right: none; }

.linear[data-orient=ver] > .box, [data-orient=ver].view > .box, .linear[data-orient=ver] .linear, [data-orient=ver].view .linear, .linear[data-orient=ver] .view, [data-orient=ver].view .view {
  border-bottom: 1px solid #aaaaaa; }
.linear[data-orient=ver] .box:last-child, [data-orient=ver].view .box:last-child, .linear[data-orient=ver] .linear:last-child, [data-orient=ver].view .linear:last-child, .linear[data-orient=ver] .view:last-child, [data-orient=ver].view .view:last-child {
  border-bottom: none; }

.box h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 30px; }

body {
  font-size: 30px; }

.everything > div {
  border: 1px solid #aaaaaa;
  margin: 10px; }
