doctype html
html
    head
        meta(charset="utf-8")
        title hello world
        link(rel="stylesheet" href="index.css")
    body
        div.left
        div.top
        div.right
        div.bottom

        // startup
        script(src="../../node_modules/requirejs/require.js")
        script(src="../base/config.js")
        script.
            require([
                'demo/attach-view/index'
            ], function (index) {
                index.init()
            })