@charset "utf-8";
@import "../../src/style/style";
* {
	padding: 0;
	margin:  0;
}
html, body {
	height: 100%;
}
.everything {
	width:  100%;
	height: 90%;

	> :first-child {
		height: 100%;
	}
}
.linear[data-direction=row] {
	> .view {
		border-right: 1px solid #000;
	}
	> .view:nth-last-of-type(1) {
		border-right: none;
	}
}
.linear[data-direction=column] {
	> .view {
		border-bottom: 1px solid #000;
	}
}
