extends ../../demo/base/template

block style
    link(rel="stylesheet" href="flex-layout.css")

block script
    script.
        require(['test/manual/flex-layout'])

block body
    ol
        li 查看布局是否正确
        li 查看是否可以通过拖动调整大小