@charset "utf-8";

div {
	border: 1px solid #000;
}

html, body {
	height: 100%;
	padding: 0;
}

.d1 {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
}

.d2 {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: auto;
	bottom: 0;
	right: 0;
}

.d3 {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	bottom: 0;
	right: 50%;
	background: red;
}